Package: com.yjb.changeurl
Name: ChangeUrl
Depends: mobilesubstrate, firmware(>=8.0)
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: yjb
Author: yjb
Section: Tweaks
